
<h1>Edit "<%= @stack.name %>" Stack</h1>
<%= render 'form' %>

<%= link_to 'Back', @stack, :class =>"btn btn-default btn-lg"%>
<%= link_to 'Destroy', @stack, method: :delete, :class =>"btn btn-default btn-lg"%>