<h2>Your Stacks</h2>

<ol>
  <% @user.stacks.each do |userstack| %>
  <li><%= link_to userstack.name, stack_path(userstack) %></li>
  <% end %>
</ol>

<% if @user.user_stacks.size == 0 %>
<h3> You have no stacks to study. :( </h3>
<% end %>

</br>
<%= link_to 'Get more stacks', stacks_path, :class =>"button"%>
</br>