<h2>Stacks currently being studied: </h2>
<ol>
  <% @user.stacks.each do |stack| %>
  <li><%= link_to stack.name, user_stack_path(stack) %></li>
  <% end %>
</ol>

<% if @user.user_stacks.size == 0 %>
<h3> You have no stacks to study. :( </h3>
<% end %>

</br>
<%= link_to 'Get more stacks', stacks_path, :class => "btn btn-default btn-md"%>
</br>