<h1>Welcome to Forget Forgetting!</h1>

<p>
  Forget Forgetting is a Spaced Repetition learning flashcard application.  You can build your own stacks of flashcards to review and we will keep track of how well your studying is going.  Flashcards that you know very well will come up only as often as necessary to test your memorization.
  </p>

  <p>
    <a href ="http://en.wikipedia.org/wiki/Spaced_repetition" >Read more</a> about Spaced Repetition learning.
  </p>

  <p>
    To get started, <%= link_to "create an account", new_user_registration_path %>.
  </p>