<h1>Card</h1>
<h2>Question: </h2>
<h3><%= markdown(@card.question) %></h3>
<h2>Answer: </h3>
<%= markdown(@card.answer) %>
<!--
<%= link_to 'Edit', edit_card_path(@card), :class =>"button" %>
<%= link_to 'Back', @card.stack, :class => "button"%>
-->